@model TeacherVM

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-dark py-2"> @(Model.Teacher.Id != 0 ? "Изменить" : "Добавить") преподавателя</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="Teacher.Id" hidden />
            <input asp-for="Teacher.ImageUrl" hidden />
            <div class="row">
                <div class="col-10">
                    <div class="border p-3">
                        <div asp-validation-summary="All"></div>
                        <div class="form-floating py-2 cpl-2">
                            <input asp-for="Teacher.Name" class="form-control border-0 shadow" />
                            <label asp-for="Teacher.Name" class="ms-2"></label>
                            <span asp-validation-for="Teacher.Name" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Teacher.Post" class="form-control border-0 shadow" />
                            <label asp-for="Teacher.Post" class="ms-2"></label>
                            <span asp-validation-for="Teacher.Post" class="text-danger"></span>

                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Teacher.Education" class="form-control border-0 shadow" />
                            <label asp-for="Teacher.Education" class="ms-2"></label>
                            <span asp-validation-for="Teacher.Education" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Teacher.Qualification" class="form-control border-0 shadow" />
                            <label asp-for="Teacher.Qualification" class="ms-2"></label>
                            <span asp-validation-for="Teacher.Qualification" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Teacher.WorkExperience" class="form-control border-0 shadow" />
                            <label asp-for="Teacher.WorkExperience" class="ms-2"></label>
                            <span asp-validation-for="Teacher.WorkExperience" class="text-danger"></span>
                        </div>
                        
                        
                        <div class="form-floating py-2 col-12">
                            <input type="file" name="file" class="form-control border-0 shadow" />
                            <label asp-for="Teacher.ImageUrl" class="ms-2"></label>
                        </div>


                        <div class="row pt-2">
                            <div class="col-6 col-md-3">
                                
                                <button type="submit" class="btn btn-primary form-control">Применить</button>
                                

                            </div>
                            <div class="col-6 col-md-3">
                                <a asp-controller="Teacher" asp-action="Index" class="btn btn-outline-primary border form-control">
                                    Вернуться к списку
                                </a>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-2">
                    <img src="@Model.Teacher.ImageUrl" width="100%"
                         style="border-radius:5px; border:1px solid #bbb9b9" />
                </div>
            </div>


        </form>
    </div>
</div>




@section Scripts {
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons lists table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage advtemplate ai mentions tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent '
        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}