
<div class="" >
<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/images/Carousel/CollegeImg.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/images/Carousel/ItImg.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/images/Carousel/BuildersImg.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/images/Carousel/CookImg.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Предыдущий</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Следующий</span>
    </button>
</div>

<div class=" table-responsive ">
<table class="table">
    <tbody>
        <tr align="center" height="110">
            <td><a href="https://poo.edu-74.ru/security/#/login" target="blank" rel="nofollow"><img src="/images/Ref/NetCity.jpg"></a></td>
            <td><a href="http://www.chirpo.ru/" target="blank" rel="nofollow"><img src="/images/Ref/ChlbInst.jpg"></a></td>
            <td><a href="http://minobr74.ru/" target="blank" rel="nofollow"><img src="/images/Ref/MinEducation.jpg"></a></td>
            <td><a href="http://school-collection.edu.ru/" target="blank" rel="nofollow"><img src="/images/Ref/Collection.jpg"></a></td>
        </tr>
        <tr align="center" height="110">
            <td><a href="http://www.gto.ru/" target="blank" rel="nofollow"><img src="/images/Ref/Gto.jpg"></a></td>
            <td><a href="http://www.edu.ru/" target="blank" rel="nofollow"><img src="/images/Ref/RosEdu.jpg"></a></td>
            <td><a href="./page.php?table=settings&amp;id=124" target="blank" rel="nofollow"><img src="/images/Ref/Prof.png" style="width: 234px; height: 93px;"></a></td>
            <td> 	<a href="https://drugoedelo.ru/" target="_blank"><img alt="" src="/images/Ref/OthBuss.jpg" style="width: 234px; height: 93px;"></a></td>
        </tr>
        <tr align="center" height="110">
            <td><a href="https://edu.gov.ru/" target="blank" rel="nofollow"><img src="/images/Ref/MinEducation.jpg"></a></td>
            <td><a href="https://bolshayaperemena.online/" target="_blank"><img alt="" src="/images/Ref/BigPer.jpg" style="width: 234px; height: 93px;"></a> </td>
            <td><a href="https://profolimp74.ru/" target="blank" rel="nofollow"><img src="/images/Ref/ChlbInst.jpg"></a></td>
            <td><a href="http://nac.gov.ru/index.html" target="blank" rel="nofollow"><img src="/images/Ref/Antiterror.jpg"></a></td>
        </tr>
        <tr align="center" height="110">
            <td> <a href="https://www.gosuslugi.ru" target="blank" rel="nofollow"><img src="/images/Ref/Gosul.jpg"></a> </td>
            <td><a href="http://ombudsman74.ru/" target="blank" rel="nofollow"><img src="/images/Ref/People.jpg"></a></td>
            <td><a href="https://znanium.ru/" target="blank" rel="nofollow"><img src="/images/Ref/Znanium.jpg"></a></td>
            <td>
                <a href="https://is.miassgrk.ru/" target="_blank"><img alt="" src="/images/Ref/AcyPro.jpg" style="width: 234px; height: 93px;"></a>
            </td>
            <td></td>
        </tr>
    </tbody>
</table>
    </div>
</div>